.header
  .header__leftBlock
    .header__logo
      include /assets/images/logo.svg
    .header__logo--mobile
      include /assets/images/logo-mobile.svg
    .header__contacts
      a.headerContact(href="tel:+79250727288") +7 925 072 72 88
      .headerContact(href="mailto:office@legalbrains.ru") office@legalbrains.ru
      .headerContact(href="https://yandex.ru/maps/-/CCU5FBSKgA") 
        | Москва, ул. Садовническая, 
        br
        | д.24 с3, 1 этаж
  .header__photos.headerPhotos
    img.headerPhotos__photo(src='assets/images/foto1.png')
    img.headerPhotos__photo(src='assets/images/foto2.png')
    img.headerPhotos__photo(src='assets/images/foto3.png')
    img.headerPhotos__photo(src='assets/images/foto4.png')
    a.headerPhotos__text(href="#team") О НАС
