.header {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
}

.header__leftBlock {
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
  flex: 1;
}

.header__logo {}

.header__logo--mobile {
  display: none;
}

.header__contacts {
  display: flex;
  margin-right: 100px;
}

.headerContact {
  font-family: Source Sans Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: white;
  text-decoration: none;
}

.headerContact + .headerContact {
  margin-left: 60px;
}

.headerPhotos {
  display: flex;
  max-width: 200px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.headerPhotos__text {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.headerPhotos__text:hover {
  background-color: white;
  color: rgba(27, 27, 27, 1);
  transition: all .3s;
}

.headerPhotos__photo {
  width: 100px;
  height: 100px;
}

.headerContact {
  color: white;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 961px) {
  .header {
    justify-content: space-between;
  }

  .header__leftBlock, .header__contacts {
    flex-direction: column;
  }

  .header__contacts {
    margin-top: 130px;
    margin-right: 0;
  }

  .headerContact + .headerContact {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 585px) {
  .header__logo {
    display: none;
  }

  .header__logo--mobile {
    display: block;
  }

  .header__contacts {
    margin-top: 130px;
  }

  .headerPhotos {
    max-width: 80px;
  }

  .headerPhotos__text {
    width: 80px;
    height: 80px;
  }

  .headerPhotos__photo {
    width: 40px;
    height: 40px;
  }

  .headerContact + .headerContact {
    margin-left: 0;
    margin-top: 10px;
  }

  .header__contacts {
    margin-top: 25px;
  }
}

