.hero
  .hero__label Чем мы занимаемся
  .hero__text Адвокатское бюро «Legal Brains» представляет свежий взгляд на классическую модель юридической помощи в уголовных и семейных делах. Старые рецепты больше не излечивают. Российская судебная система принимает решения с невероятной скоростью, а полиция и органы следствия - еще быстрее.
