.our_values {
  display: flex;
  margin: 0 -50px;
}

.our_values__value {
  margin: 0 50px 0 50px;
  flex: 1;
}

.valueItem__title {
  margin-bottom: 40px;
  width: 100px;
  height: 100px;
  background-color: white;
  color: #1B1B1B;

  font-family: Source Sans Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.valueItem__text {
  font-family: Source Sans Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: white;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 961px) {
  .our_values {
    margin: 0;
    flex-direction: column;
  }

  .our_values__value {
    margin: 0;
  }

  .our_values__value + .our_values__value {
    margin-top: 50px;
  }

  .valueItem__title {
    width: 70px;
    height: 70px;
  }

  .valueItem__title, .valueItem__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  .valueItem__title, .valueItem__text {
    font-size: 14px;
  }
}

