.our_values
  .our_values__value.valueItem
    .valueItem__title Цель
    .valueItem__text
      p Цель нашей команды в работе с Доверителями – предоставить максимально быстрое, профессиональное и эффективное решение, основанное на многолетнем опыте адвокатов Бюро. 
      p Личное участие партнеров Бюро в каждом проекте обеспечивает квалифицированный и индивидуальный подход, а сложившаяся репутация основана на глубокой приверженности интересам Доверителя и традициям российской адвокатуры.
  .our_values__value.valueItem
    .valueItem__title Опыт
    .valueItem__text
      p Наш опыт – это успешная защита собственников бизнеса, топ-менеджеров и частных лиц от обвинений в совершении преступлений в сфере экономики, должностных преступлений, включая уклонение от уплаты налогов, мошенничество и злоупотребление полномочиями. Наши успехи — это решение в пользу Доверителей громких семейных и наследственных споров, включая споры о детях и разделе имущества. Наша миссия – получить максимальный эффект для Доверителя в минимальные сроки.
