.team#team
  .team__title Пара слов о нашей команде
  img.team__photo(src='assets/images/team.jpg')
  .team__members
    .member
      .member__name 
        | Тылту Дмитрий 
        br
        | адвокат, партнёр
      .member__story Имеет 15-летний опыт консультирования частных лиц по вопросам личного капитала, инвестиций и семейного права. Обладает значительной экспертизой в вопросах защиты Доверителей от уголовного преследования за уклонение от уплаты налогов. Представляет интересы известных медийных личностей, спортсменов и частных инвесторов. Рекомендован международным рейтингом Best Lawyers.
    .member
      .member__name 
        | Иванова Наталия
        br
        | адвокат, партнёр
      .member__story Упорство и бескомпромиссность в защите Доверителей по уголовным делам сформировали репутацию Наталии как одного из лучших адвокатов Бюро. Эффективно избираемая тактика защиты неоднократно приводила к прекращению уголовного преследования её подзащитных. Имеет успешный опыт защиты собственников бизнеса в корпоративных конфликтах, а также от действий третьих лиц по захвату предприятий. Эффективно помогает бизнесу во взаимоотношениях с правоохранительными органами. 
    .member
      .member__name 
        | Пашков Алексей
        br
        | адвокат, партнёр
      .member__story Лидер команды в вопросах представительства в арбитражных спорах и сопровождения сделок. До прихода в Бюро возглавлял юридические департаменты крупнейших ретейлеров на российском рынке. Ключевые компетенции – арбитражные споры, банкротство, налоговые проверки. За последние два года сопроводил сделки в интересах Доверителей на сумму свыше 5 миллиардов рублей.
    .member
      .member__name 
        | Жижилева Мария
        br
        | помощник адвоката
      .member__story Юный, но уже очень опытный член команды. Вместе с партнерами Бюро участвует в сопровождении судебных споров в арбитражных судах и судах общей юрисдикции. В сферу профессиональных интересов Марии входят вопросы семейного права и банкротства. С отличием закончила МГУ им. Ломоносова, готовит школьников к участию в предметных олимпиадах.
