.team {}

.team__title {
  font-family: Source Sans Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: white;
  margin-bottom: 30px;
}

.team__photo {
  width: 100%;
  margin-bottom: 60px;
}

.team__members {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.member {
  flex: 1;
  color: white;
}

.member__name {
  margin-bottom: 30px;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.member__story {
  font-family: Source Sans Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 961px) {
  .team__members {
    grid-gap: 60px 39px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 375px) {
  .team__members {
    grid-gap: 50px;
    grid-template-columns: 1fr;
  }

}

