doctype html
head
  meta(charset='utf-8')
  title My First Parcel App
  link(rel='stylesheet' href='style.postcss.css')
  script(src='app.js' defer='')
body
  .layer__background
  .layer__content
    include blocks/header.pug
    .hero Полная версия сайта появиться по этому адресу в феврале 2022 года
