// doctype html
// head
//  meta(charset='utf-8')
//  title Адвокатское бюро «Legal Brains» 
//  link(rel='stylesheet' href='style.postcss.css')
//  script(src='app.js' defer='true')
//  meta(name="viewport" content="width=device-width, initial-scale=1")
// body
//  .layer__announcement
//    include blocks/announcement.pug
//  .layer__background#bg
//  .layer__content
//    .layer__header
//      include blocks/header.pug
//    .layer__hero
//      include blocks/hero.pug
//    .layer__our_values
//      include blocks/our_values.pug
//    .layer__team
//      include blocks/team.pug
//    .layer__centeredLogo
//      include blocks/centeredLogo.pug
//    .layer__footer
//      include blocks/footer.pug
