@import "./blocks/announcement.postcss.css";
@import "./blocks/centeredLogo.postcss.css";
@import "./blocks/footer.postcss.css";
@import "./blocks/header.postcss.css";
@import "./blocks/hero.postcss.css";
@import "./blocks/our_values.postcss.css";
@import "./blocks/team.postcss.css";
@import "./assets/fonts/source_sans_pro/stylesheet.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
  padding: 0;
  margin: 0;
  background-color: #1B1B1B;
  padding: 0 50px;
}

.layer__background {
  width: 2560px;
  background-image: url("./assets/images/background.svg");
  background-position: top center;
  position: fixed;
  left: calc(50% - 1280px);
  top: 0;
  height: 4260px;
}

.layer__content {
  position: relative;
  max-width: 2560px;
  margin: auto;
}

.layer__announcement {
  margin-bottom: 300px;
}

.layer__hero {
  margin-bottom: 200px;
}

.layer__our_values {
  margin-bottom: 250px;
}

.layer__team {
  margin-bottom: 250px;  
}

.layer__centeredLogo {
  margin-bottom: 250px;   
}
