@import "./blocks/announcement.postcss.css";
@import "./blocks/centeredLogo.postcss.css";
@import "./blocks/footer.postcss.css";
@import "./blocks/header.postcss.css";
@import "./blocks/hero.postcss.css";
@import "./blocks/our_values.postcss.css";
@import "./blocks/team.postcss.css";
@import "./blocks/layer.postcss.css";
@import "./blocks/logo.postcss.css";
@import "./assets/fonts/source_sans_pro/stylesheet.css";

:root {
    --wide-width: 2560px;
    --smallscreen: 480px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
  margin: 0;
  padding: 0 20px;
}

@media screen and (max-width: 585px) {
  body {
    padding: 0 15px;
  }
}
