@import "./assets/fonts/source_sans_pro/stylesheet.css";
@import-glob "./blocks/**/*.postcss.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
  padding: 0;
  margin: 0;
  background-color: #1B1B1B;
  padding: 0 50px;
}

.layer__background {
  width: 2560px;
  background-image: url("./assets/images/background.svg");
  background-position: top center;
  position: fixed;
  left: calc(50% - 1280px);
  top: 0;
  height: 100%;
}

.layer__content {
  position: relative;
  max-width: 2560px;
  margin: auto;
}

.header {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
}

.hero {
  margin-top: 60px;
}
